{% include 'base.html.twig' %}

{% block body %}
    <h1>Créer un producteur</h1>

    {{ include('producteur/_form.html.twig') }}

    <a href="{{ path('producteur_index') }}">retourner a la liste</a>
{% endblock %}