<form method="post" action="{{ path('panier_delete', {'panierId': panier.panierId}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce panier?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ panier.panierId) }}">
    <button class="btn">Supprimer</button>
</form>