<form method="post" action="{{ path('adherant_delete', {'adherId': adherant.adherId}) }}" onsubmit="return confirm('
Êtes-vous sûr de vouloir supprimer cet adhérant?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adherant.adherId) }}">
    <button class="btn">Supprimer</button>
</form>