{% include 'base.html.twig' %}

{% block body %}
    <h1>Modifier un Adhérent</h1>

    {{ include('adherant/_form.html.twig', {'button_label': 'Valider'}) }}

    <a href="{{ path('adherant_index') }}">Retourner à la liste</a>

    {{ include('adherant/_delete_form.html.twig') }}
{% endblock %}