{% include 'base.html.twig' %}

{% block body %}
    <h1>Créer un Adhérent</h1>

    {{ include('adherant/_form.html.twig') }}

    <a href="{{ path('adherant_index') }}">Retourner à la liste</a>
{% endblock %}