{% include 'base.html.twig' %}


{% block body %}
    <h1>Modifier une famille</h1>

    {{ include('famille/_form.html.twig', {'button_label': 'Valider'}) }}

    <a href="{{ path('famille_index') }}">retourner à la liste</a>

    {{ include('famille/_delete_form.html.twig') }}
{% endblock %}