{% include 'base.html.twig' %}

{% block body %}

<h1 style="margin-top: 50px;">Famille(s) de produits</h1>
<div class="container-fluid" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for famille in familles %}
                    <tr class="table-active">
                        <td>{{ famille.famNom }}</td>
                        <td>
                            <a href="{{ path('famille_show', {'famId': famille.famId}) }}">voir</a>
                            |
                            <a href="{{ path('famille_edit', {'famId': famille.famId}) }}">modifier</a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="3">pas de résultats</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<a href="{{ path('famille_new') }}">Créer une famille de produits</a>
{% endblock %}