{% include 'base.html.twig' %}

{% block body %}
<h1>Produit(s)</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produit in produits %}
                    <tr class="table-default">
                        <td>{{ produit.prodNom }}</td>
                        <td>
                            <a href="{{ path('produit_show', {'produitId': produit.produitId}) }}">voir</a> | 
                            <a href="{{ path('produit_edit', {'produitId': produit.produitId}) }}">modifier</a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="3">pas de résultats</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('produit_new') }}">Nouveau produit</a>
        {% endif %}
    {% endif %}
{% endblock %}