{% include 'base.html.twig' %}


{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ProdNom</th>
                <td>{{ produit.prodNom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('produit_index') }}">retourner a la liste des produits</a>

    </br>
    
    <a href="{{ path('produit_edit', {'produitId': produit.produitId}) }}">modifier</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}