{% include 'base.html.twig' %}

{% block title %}Producteur{% endblock %}

{% block body %}
<h1>Producteur</h1>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<form role="form">
				<div class="form-group">
					{{ include('utilisateur/_form.html.twig', {'button_label': 'Update'}) }}
				</div>
			</form>
			<a href="{{ path('accueil') }}">accueil</a>
		</div>
	</div>
</div>
{% endblock %}