
{% include 'base.html.twig' %}


{% block body %}
<h1>Producteur</h1>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<form role="form">
				<div class="form-group">
					{{ include('utilisateur/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}