{% include 'base.html.twig' %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Notre histoire</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/notreHistoire.css">
        <link rel="stylesheet" href="/css/standard.css">

    </head>

    <body id="page-top">

        <!-- Navigation -->
        {#<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">#}
            {#<div class="container">#}
                {#<a class="navbar-brand" href="#">Prodamap</a>#}
                {#<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">#}
                    {#<span class="navbar-toggler-icon"></span>#}
                {#</button>#}
                {#<div class="collapse navbar-collapse" id="navbarResponsive">#}
                    {#<ul class="navbar-nav ml-auto">#}
                        {#<li class="nav-item active">#}
                            {#<a class="nav-link" href="/accueil">Accueil#}
                                {#<span class="sr-only">(current)</span>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a class="nav-link" href="/nosproducteurs">Nos producteurs</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a class="nav-link" href="/notrehistoire">Notre histoire</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a class="nav-link" href="/">Contact</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}
        {#</nav>#}

        <header class="bg-primary text-white">
            <div class="container text-center">
                <h1>Notre Histoire</h1>
                <p class="lead">Une Amap où Association pour le Maintien d'une Agriculture de Proximité, résulte du partenariat
                                    entre un groupe de consommateur et un ou plusieurs exploitant locaux.
                                    C'est un partage assuré par un contrat solidaire ou le consommateur paie à l'avance sa consommation pour une période définie.
                                    </p>
            </div>
        </header>

        <section id="food">
            <div class="container">
                <div id="texte1" class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Son fonctionnement</h2>
                        <p class="lead">
                            C'est en 2001 que voit le jour la première AMAP française, à la suite d'un voyage aux Etats-Unis, le 17 avril 2001,
                            Denise et Daniel Vuillon, couple de maraîchers, ayant fondé la première AMAP "Les Olivades" à Aubagne,
                            vendent leurs premiers paniers.</p>
                        <p class="lead"> Membre de la "Confédération paysanne" du Var, avec l'aide de plusieurs associations,
                            ils décident de créer " Alliance Provence", une structure permettant l'accompagnement des futurs porteurs projets
                            de projet AMAP. Un réseau est alors néé. D'abord au niveau régional, il a su prendre de l'ampleur pour s'étendre
                            au niveau inter-régionale avec récemment, la création de MIRAMAP. </p>

                    </div>
                </div>
            </div>
        </section>

        <section id="champs" class="bg-light">
            <div class="container">
                <div id="texte2" class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Son fonctionnement</h2>
                        <p class="lead">
                            Le partenariat est exclusivement du bénévolat.
                            Le rôle de l'AMAP est d'assurer un lien perpétuel avec le producteur,
                            de rechercher d'autres consommateurs, de prendre les inscriptions, d'organiser la distribution, etc.
                            Producteur et consommateurs sont liés par un contrat dans lequel l’agriculteur s'engage à fournir aux consommateurs un panier
                            par semaine de produits à un prix défini en toute transparence, tandis que les consommateurs s'engagent
                            à effectuer des permanences au sein de l'AMAP, où proposer son aide sur les exploitations des producteurs.</p>
                        <ul>
                            <li>Cela permet de garantir un lien constant entre le consommateur et le producteur</li>
                            <li>Respecter la biodiversité</li>
                            <li>Accéder à des produits frais et 100% biologiques</li>
                            <li>D'impliquer le consommateur dans ses choix de consommation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        {#<section id="contact">#}
            {#<div class="container">#}
                {#<div class="row">#}
                    {#<div class="col-lg-8 mx-auto">#}
                        {#<h2>Contact us</h2>#}
                        {#<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</section>#}

        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white"></p>
            </div>
            <!-- /.container -->
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="/js/notreHistoire.js" ></script>

    </body>

</html>


{% block body %}


{% endblock %}