<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}{% endblock %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container-fluid">
		
			<!---<div class="row">
				<div class="col-lg-12">
					{% if app.user %}
					{{ dump(app.user) }}
					{% else %}
					Non connecté
					{% endif %}
				</div>
			</div>!--->
			<a class="navbar-brand" href="#">Prodamap</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-6">
							<div class="collapse navbar-collapse" id="navbarResponsive">
								<ul class="navbar-nav ml-auto">
									{% if app.user %}
									{% if is_granted('ROLE_ADMIN') %}
									<li class="nav-item">
										<a class="nav-link" href="/produit/voirProduits">Voir les produits</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/contrat/voirTousContrat">Contrats en cours</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/producteurs/voirNouveauxProducteur">Nouveaux producteur</a>
									</li>
									{% elseif is_granted('ROLE_ADHERANT') %}
									<li class="nav-item">
										<a class="nav-link" href="/contrat/voirSesContrat">Mes contrats</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/contrat/voirSesContrat">Mon compte</a>
									</li>
									{% elseif is_granted('ROLE_PRODUCTEUR') %}
									<li class="nav-item">
										<a class="nav-link" href="/produit">Mes produits</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/contrat/voirSesContrat">Mes contrats</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/contrat/voirSesContrat">Mon compte</a>
									</li>
									{% endif %}

									{% else %}	
									
									<li class="nav-item">
										<a class="nav-link" href="/accueil">Accueil</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/nosproducteurs">Nos Producteurs</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="notrehistoire">Notre histoire</a>
									</li>
									{% endif %}
								</ul>
							</div>
						</div>	

						<div class="col-lg-6" style="text-align: right;"> 
							<a role="button" class="btn btn-primary active btn-md" href="/security/formConnection">
								Connexion
							</a>
							<a role="button" class="btn btn-primary active btn-md" href="/inscription">
								Inscription
							</a>
						</div>	
					</div>		
				</div>			
			</div>
		
	</div>	
</nav>


	{% endblock %}
	{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	{% endblock %}
