{% include 'base.html.twig' %}

{% block body %}
    <h1>Créer un contrat</h1>

    {{ include('contrat/_form.html.twig') }}

    <a href="{{ path('contrat_index') }}">retourner à la liste</a>
{% endblock %}